command=sh ~/.config/i3blocks/blocks/$BLOCK_NAME
separator_block_width=15
interval=1

[spotify]
label=
command=~/scripts/spotify-data.sh

[weather]
command=~/scripts/weather.sh
interval=1800

[disc]
label=
instance=/home/
instance=/

[disc]
label=
instance=/home/

#[brightness]
#interval=once
#signal=4

#[volume]
#interval=1
#signal=1

[battery]
label= 
command=~/scripts/battery.sh
interval=10

[network]

[date]




