command=sh ~/.config/i3blocks/blocks/$BLOCK_NAME
separator_block_width=15
interval=1

[weather]
#command=~/scripts/weather.sh
interval=1800

[brightness]
#command=echo $(($(cat /sys/class/backlight/intel_backlight/brightness)/30))%
label= 

[audio]
#command=~/scripts/audio.sh
label= 

[disc]
label= 
#instance=/home/
instance=/

[disc]
label= 
instance=/home/

[cpu]
#command=~/scripts/cpu.sh
label= 
interval=2

[temperature]
#command=~/scripts/temp.sh
instance=Core
label= 
interval=5

#[brightness]
#interval=once
#signal=4

#[volume]
#interval=1
#signal=1

[battery]
#command=~/scripts/battery.sh
label= 
interval=60

[packages]
#command=~/scripts/packages.sh
label= 
interval=300

[date]




