command=sh ~/.config/i3blocks/blocks/$BLOCK_NAME
separator_block_width=15
interval=1

[spotify]
label= 
command=~/scripts/spotify-data.sh
interval=10

#[dunst]
#command=~/scripts/i3blocks-dunst.sh
#signal=12

#[feed]
#command=~/scripts/feed.sh
#instance=http://bit.ly/2ZlpDP5
#label= 
#interval=60

[bandwidth]
command=~/scripts/bandwidth.sh
instance=wlp3s0;in
label= 
interval=5

[bandwidth]
command=~/scripts/bandwidth.sh
instance=wlp3s0;out
label= 
interval=5

#[bandwidth]
#command=~/scripts/bandwidth.sh
#instance=enp0s25;in
#label= 
#interval=5

#[bandwidth]
#command=~/scripts/bandwidth.sh
#instance=enp0s25;out
#label= 
#interval=5

[ip-address]
command=~/scripts/ip.sh
label= 
interval=60
#interface=wlan0
#[iface]
#command=$SCRIPT_DIR/iface
#LABEL=wlan0:
#IFACE=wlan0
#ADDRESS_FAMILY=inet6?
color=#00FF00
#interval=10

[network]
color=#00FF00


#[weather]
#command=~/scripts/weather2.sh
#instance=2907911
#interval=60






